
/* Accent */
$primary:  #3C64F4;
$primary10: #F0F3FF;
$primary20: #DBE3FE;
$primary30: #9EB3FC;
$primary50: #2852EB;
$primary60: #0B38D9;
$primary70: #0024A6;

/* Type Colors and Fills and strokes */
$secondary70: #313440;
$secondary60: #5E637A;
$secondary50: #8C93AD;
$secondary30: #D9DCE9;
$secondary:#B4BAD1;
$white: #FFFFFF;

/* Status */
$success:  #2AAB3F;
$danger:#DB3643;
$warning: #FFBF00;

/*Additional colors*/
$brand: #273A8A