// color variables
$logo-bg: #262321 ;
$orange: #e85e22;
$leftnav: #373331;
$leftnav-active: #4a4543;
$white: #FFFFFF;
$fontfamily:'Source Sans Pro', sans-serif;
$link:#3E3F42;
$blue: #3C64F4;
$purple: #833471;
$red :#E91E63;
$darkblue: #673AB7 ;
$lightorange: #F79F1F ;
$lightred: #B53471;
$darkorang: #EE5A24 ; 
$grayshade:#607D8B;
$blueshade: #3F51B5 ;
$lightorange1:#FE4C4C;
$bluedouble: #1B1464;
$coffee:#795548;
$gray-border: #E2E5ED;
$dark: #312D29;
$green: #45B49D;

$primary: #3C64F4;
$secondary70: #313440;
$secondary60: #5E637A;
$secondary50: #8C93AD;