.gradient-bg{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(191,191,191,1) 0%, rgba(191,191,191,1) 50%, rgba(191,191,191,1) 50%);
  }
  .login-box-outer{
    max-width: 90%;
    margin: 30px auto;
    background: #FFFFFF;
    box-shadow: 0px 3px 99px #00000029;
    border-radius: 10px;
    
    display: block;
    position: relative;
    
  }
  .form-details,
  .form-right  {
    width: 100%;
  }

  .form-right{
    background: rgba(15, 15, 15, .85) 0% 0% no-repeat padding-box;
    border-radius:  0  0 10px 10px;
    padding-bottom: 30px;
  }
  .form-right  .content{
    max-width: 315px;
    margin: auto;
    padding: 10px;
    text-align: center;
    
  }
  .form-details .content{
    max-width: 450px;
   text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-details .content img{
    width: 220px;
    display: block;
    margin-bottom: 10px;
    margin: auto;
  }
  .form-details .content .btn-orange{
    margin-top: 40px; 
    margin-bottom: 14px;
    
    padding: 15px 30px;
  }
  .form-details .content  h3{
    font-size: 26px;
    margin: 24px 0 22px;
  }
  .form-details .content  .custom-control-label, .col-form-label{
      font-size: 16px;
      color: #a7a9b2;
  }
  .form-details .content .form-control,       
    .form-details .content  .input-group-text {

      border-bottom: 1px solid #dde3e8;
      padding: 0.8125rem 0.55rem;
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
    }
    .form-details .content .form-control:focus{
      box-shadow: none;
    }
    .form-details .content .fa:before{
      color:rgba(0, 0, 0, .3);
    }
    .forgot-info{
    border-radius: 10px;
    padding: 20px;
    max-width: 450px;
    margin-bottom: 40px;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.1);
    font-size: 16px;
  }
  .form-details .content  p a{
    color: #E85E22 !important;
    height: 30px;
   
  }
  .form-details .content  p a span {
  display: inline-block;
  margin-right: 10px;
  color: #E85E22 !important;;
  }
  .form-right .content h1{
    font-size: 36px;
    margin: 30px 0 12px;
    color: #ffffff;
    font: normal normal bold 36px/36px Open Sans;
    letter-spacing: 0px;
    text-align: center;
  }

  .email-list{
      height: 300px;
      overflow-y: auto;

  }
  .email-list ul{
    margin: 0;
    padding: 10px;
    list-style: none;
  }

  .email-list ul li{
    margin:10px 0;
    padding: 0 20px;
    width: 100%;
    height: 89px;
    background: #FFFFFF ;
    box-shadow: 0px 24px 48px #1E1C2E14;
    border-radius: 17px;
    display: flex;
    align-items: center;
  }
  .email-list ul li  a{
    display: flex;
    align-items: center;
    color: #0F0F0F;
  }
  .email-list ul li img {
    width: 42px!important;
    float: left;
    border-radius: 50%;
}
.email-list ul li div {
  margin-left: 15px;
}

.email-list ul li .linearicons-cross-circle {
  color: #7D7D7D;
}

.email-list ul li div p{
  text-align: left;
  margin-top: 5px!important;
  font-size: 14px;
}
.email-list ul li div * + p{
  text-align: left;
  margin-top: 2px!important;
  font-size: 12px;
}

  .email-list::-webkit-scrollbar {
   width: 10px;
  }
  .email-list::-webkit-scrollbar-track {
   
   background: rgba(125, 125, 125, .12) 0% 0% no-repeat padding-box;
   box-shadow: 0px 3px 99px rgba(0, 0, 0, 0.16);
   border-radius: 10px;
 }
 .email-list::-webkit-scrollbar-thumb {
   background-color: rgba(125, 125, 125, .27);
   border-radius: 50px;
   
 }
 .mdi-brightness-1{
   color:#20E4B5;
 }
 .custom-control-label::after,
 .custom-control-label::before{
   width: 20px!important;
   height: 20px!important;
 }
 .form-details .content .custom-control-label, .col-form-label{
   font-size: 14px!important;
 }
 .custom-checkbox-warning .custom-control-input:checked ~ .custom-control-label::before, .custom-radio-warning .custom-control-input:checked ~ .custom-control-label::before, .custom-switch-warning .custom-control-input:checked ~ .custom-control-label::before{
  border-color: #E85E22!important;
  background-color: #E85E22 !important;
 }
 .custom-checkbox-warning .custom-control-label::before, .custom-radio-warning .custom-control-label::before, .custom-switch-warning .custom-control-label::before{
  border-color: #E85E22!important;
 }
@media (min-width:768px){
    .login-box-outer {
        
        width: 90%;
        margin: 30px auto;
        background: #FFFFFF;
        box-shadow: 0px 3px 99px #00000029;
        border-radius: 10px;
        display: block;
        /* top: 12%; */
        position: absolute;
        left: 0;
        right: 0;
    }
}
  @media (min-width: 1024px){
    .gradient-bg{
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,254,255,1) 50%, rgba(191,191,191,1) 50%);
      }
    .login-box-outer{
        max-width: 90%;
        margin: auto;
        height: 710px;
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        
        border-radius: 22px;
    }
    .form-details,
    .form-right  {
        width: 50%;
    }
    
    .form-right{
        background: rgba(15, 15, 15, .85) 0% 0% no-repeat padding-box;
        border-radius:  0 22px 22px 0;
      }
    .form-right  .content{
        max-width: 315px;
        margin: auto;
        text-align: left;
    }
    .form-right .content h1{
        font-size: 52px;
        margin: 0px 0 12px;
        color: #ffffff;
        font: normal normal bold 52px/51px Open Sans;
        letter-spacing: 0px;
        text-align: left;
      }
    .form-details .content{
        max-width: 450px;
        text-align: center;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .form-details .extra {
      max-width: 500px;
      
   }
    .form-details .content  h3{
        font-size: 26px;
        margin: 54px 0 22px;
      }
      .email-list ul li{
        margin:10px 0;
        padding: 0 20px;
        width: 100%;
        height: 89px;
        background: #FFFFFF ;
        box-shadow: 0px 24px 48px #1E1C2E14;
        border-radius: 12px;
      }
      .email-list{
        height: 218px;
        overflow-y: auto;
    }
  }
  
  @media (min-width: 1200px){
    .login-box-outer{
      max-width: 1200px;
      height: 800px;
    }
  }

  @media (min-width: 1600px){
    .login-box-outer{
      max-width: 1400px;
      height: 800px;
    }
    .email-list{
      height: 300px;
      overflow-y: auto;
    }
    .email-list ul li{
      margin:20px 0;
      padding: 0;
      width: 100%;
      height: 89px;
      background: #FFFFFF ;
      box-shadow: 0px 24px 48px #1E1C2E14;
      border-radius: 17px;
    }
  }

  
